<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Red Knot Culinary</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" >
        </script>
        
        <script src=
            "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" >
        </script>
    </head>
    <body>
        <div class="base">
            <div class="base_header">
                {% block header %}
                    {% include 'header.html' %}
                {% endblock %}
            </div>
            
            <div class="base_body">
                {% block body %}
                {% endblock %}
            </div>
            
        </div>
        

        

    </body>
</html>