<div class="header">
    <div class="header_tab">
        <a href="{% url 'landing' %}">Home</a>
    </div>
    <div class="header_tab">
        <a href="">About Us</a>
    </div>
    <div class="header_tab">
        <a href="">Catering</a>
    </div>
    <div class="header_logo">
        {% load static %}
        <img src="{% static 'images/logo.jpg' %}" alt="logo" />
    </div>
    <div class="header_tab">
        <a href="">Locations</a>
    </div>
    <div class="header_tab">
        <a href="">Donate</a>
    </div>
    <div class="header_tab">
        <a href="">Contact Us</a>
    </div>
</div>


